<%= simple_form_for(@assessment_type) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :report_type, label: 'Type of Form', collection: [['Assessment Report', :ar],['Assessment Plan', :ap]], prompt: 'Select a form Type' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
