<section id="index-assessment-type" class="index-section container-fluid">
  <ul class="nav nav-pills nav-stacked assessment-type-tab-nav col-sm-2" role="tablist">
    <% @assessment_types.each do |assessment_type| %>
    <li class="nav-item">
      <% if assessment_type == @assessment_types.first %>
      <%= link_to assessment_type.name, "##{snake(assessment_type.name)}-#{assessment_type.id.to_s}", class: 'nav-link active', data: { toggle: 'tab' } %>
      <% else %>
      <%= link_to assessment_type.name, "##{snake(assessment_type.name)}-#{assessment_type.id.to_s}", class: 'nav-link', data: { toggle: 'tab' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
  <div class="tab-content assessment-type-tab col-sm-10">
    <% @assessment_types.each do |assessment_type| %>
      <% if assessment_type == @assessment_types.first %>
      <div class="tab-pane fade in active" id="<%= snake(assessment_type.name) %>-<%= assessment_type.id.to_s %>" role="tabpanel">
      <% else %>
      <div class="tab-pane fade" id="<%= snake(assessment_type.name) %>-<%= assessment_type.id.to_s %>" role="tabpanel">
      <% end %>
        <h3><%= assessment_type.name %></h3>
        <% assessment_type.templates.each do |template| %>
          <li><%= link_to template.name, template %></li>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="page-actions">
    <%#= link_to 'New Assessment Type', new_assessment_type_path %>
  </div>
</section>
