<section class="container">
  <% report_options.each do |k,v| %>
    <div class="home-card-group row">
      <h3 class="page-header"><%= image_tag "http://my.unm.edu/images/card_top-widgets.png" %><%= v %></h3>
      <% @assessment_types.report_type(k).each do |assessment_type| %>
        <div class="col-sm-4">
          <div class="card report-type-card">
            <div class="card-block">
              <h4 class="card-title"><%= link_to assessment_type.name, year_assessment_type_templates_path(current_year, assessment_type) %></h4>
            </div>
            <div class="actions card-footer">
              <%= link_to 'Info', "##{assessment_type.id}_assessment_type_modal", class: 'btn btn-xs btn-primary', role: 'button', data: { toggle: 'modal', target: "##{assessment_type.id}_assessment_type_modal" } %>
              <%= link_to 'Forms', year_assessment_type_templates_path(current_year, assessment_type), class: 'btn btn-xs btn-warning', role: 'button' %>
            </div>
          </div>
        </div>
        <%= render 'assessment_type_info_modal', assessment_type: assessment_type %>
      <% end %>
    </div>
  <% end %>
</section>
