<section class="container">
<div class="box-msg-4 row">
  <h3 class="page-header"><%= image_tag "http://my.unm.edu/images/card_top-widgets.png" %> Assessment Reports</h3>
    <% @assessment_types.ar.each do |assessment_type| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= assessment_type.name %></h4>
          <p class="card-text"><%= assessment_type.description %></p>
          <%= link_to 'Show', [assessment_type], class: 'btn btn-xs btn-primary', role: 'button' %>
          <%= link_to 'Edit', edit_assessment_type_path(assessment_type), class: 'btn btn-xs btn-warning', role: 'button' %>
          <%= link_to 'Destroy', assessment_type_path(assessment_type), method: :delete, class: 'btn btn-xs btn-danger', role: 'button' %>

        </div>
      </div>
    <% end %>
  </div>
  <div class="box-msg-4 row">
  <h3 class="page-header"><%= image_tag "http://my.unm.edu/images/card_top-widgets.png" %> Assessment Plans</h3>
    <% @assessment_types.ap.each do |assessment_type| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= assessment_type.name %></h4>
          <ul class="card-text">
            <%= assessment_type.templates.each do |s| %>
            <li><%= s.name %></li>
            <% end %>
          </ul>
          <%= link_to 'Show', [assessment_type], class: 'btn btn-xs btn-primary', role: 'button' %>
          <%= link_to 'Edit', edit_assessment_type_path(assessment_type), class: 'btn btn-xs btn-warning', role: 'button' %>
          <%= link_to 'Destroy', assessment_type_path(assessment_type), method: :delete, class: 'btn btn-xs btn-danger', role: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
