<section class="container">
  <% report_options.each do |rp| %>
    <div class="home-card-group row">
      <h3 class="page-header"><%= image_tag "http://my.unm.edu/images/card_top-widgets.png" %> Assessment Reports</h3>
      <% @assessment_types.report_type(rp).each do |assessment_type| %>
        <div class="col-sm-4">
          <div class="card report-type-card">
            <div class="card-block">
              <h4 class="card-title"><%= link_to assessment_type.name, assessment_type %></h4>
            </div>
            <ul class="list-group list-group-flush collapse">
              <% assessment_type.templates.each do |s| %>
                <li class="list-group-item"><%= link_to s.name, year_assessment_type_templates_path(current_year, assessment_type) %></li>
              <% end %>
            </ul>
            <div class="actions card-footer">
              <%= link_to 'Show', [assessment_type], class: 'btn btn-xs btn-primary', role: 'button' %>
              <%= link_to 'Edit', edit_assessment_type_path(assessment_type), class: 'btn btn-xs btn-warning', role: 'button' %>
              <%= link_to 'Destroy', assessment_type_path(assessment_type), method: :delete, class: 'btn btn-xs btn-danger', role: 'button' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
