<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assessment_unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assessment_unit.description %>
</p>

<%= link_to 'Edit', edit_assessment_unit_path(@assessment_unit) %> |
<%= link_to 'Back', assessment_units_path %>
