<% case td.template_sublayout.input_type.name %>
<% when 'intro' %>
  <% if td.template_sublayout.template_datum.data.present? %>
    <h4><%= td.template_sublayout.name %></h4>
    <p><%= simple_format td.data %></p>
  <% else %>
    <div class="form-field">
      <%= t.input :data, label: td.template_sublayout.name %>
    </div>
  <% end %>
<% when 'text_field' %>
  <div class="form-field">
    <%= t.input :data, label: td.template_sublayout.name %>
  </div>
<% when 'text_area' %>
  <div class="form-field">
    <%= t.input :data, label: td.template_sublayout.name, as: :text %>
  </div>
<% when 'header' %>
  <% if td.template_sublayout.template_datum.data.present? %>
    <h4><%= td.template_sublayout.name %></h4>
    <p><%= simple_format td.data %></p>
  <% else %>
    <h4><%= td.template_sublayout.name %></h4>
  <% end %>
<% when 'subheader' %>
  <% if td.template_sublayout.template_datum.data.present? %>
    <h5><%= td.template_sublayout.name %></h5>
    <p><%= simple_format td.data %></p>
  <% else %>
    <div class="form-field">
      <h5><%= td.template_sublayout.name %></h5>
    </div>
  <% end %>
<% when 'date' %>
  <div class="form-field">
    <%= t.input :data, label: td.template_sublayout.name, as: :date %>
  </div>
<% when 'table' %>
  <div class="form-field">
    Table is yet to be created
  </div>
<% when 'cell' %>
  <div class="form-field">
    <%= t.input :data, label: td.template_sublayout.name, as: :text %>
  </div>
<% else %>
  <% if td.template_sublayout.template_datum.data.present? %>
    <p><%= td.template_sublayout.name %></p>
    <p><%= td.data %></p>
  <% else %>
    <div class="form-field">
      <%= t.input :data, label: td.template_sublayout.name %>
    </div>
  <% end %>
<% end %>
