<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="contact-info">
        <div class="phys-add col-md-6">
          <h3>Physical Address</h3>
          <p>Scholes Hall</p>
          <p>Room 240</p>
          <br>
          <p>Phone: (505) 277-4130</p>
          <p>Fax: (505) 277-8275</p>
          <br>
          <p>Email: assess@unm.edu</p>
        </div>
        <div class="mail-add col-md-6">
          <h3>Mailing Address</h3>
          <p>Office of Assessment</p>
          <p>MSCO5 3400</p>
          <p>1 University of New Mexico</p>
          <p>Albuquerque, NM87131-0001</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="footer-inner-wrapper">
        <div class="col-sm-12 col-md-6">
          <p><%= image_tag 'https://webcore.unm.edu/v2/images/unm-transparent-white.png' %></p>
          <p>&copy;The University of New Mexico</p>
          <p>Albuquerque, NM 87131, (505) 277-0111</p>
          <p>New Mexico's Flagship University</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <ul class="list-inline">
            <li><%= fa_stacked_icon 'facebook', base: 'square-o' %></li>
            <li><%= fa_stacked_icon 'instagram', base: 'square-o' %></li>
            <li><%= fa_stacked_icon 'twitter', base: 'square-o' %></li>
            <li><%= fa_stacked_icon 'tumblr', base: 'square-o' %></li>
            <li><%= fa_stacked_icon 'youtube', base: 'square-o' %></li>
          </ul>
          <p>more at <%= link_to 'social.unm.edu', 'http://social.unm.edu/' %></p>
          <p><%= link_to 'Accessibility', 'http://www.unm.edu/accessibility.html' %>
              <%= link_to 'Legal', 'http://www.unm.edu/legal.html' %>
              <%= link_to 'Contact UNM', 'http://www.unm.edu/contactunm.html' %></p>
          <p><%= link_to 'New Mexico Higher Education Dashboard', '' %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
