<nav class="navbar navbar-light bg-faded">

  <!-- Brand and toggle get grouped for better mobile display -->
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-responsive" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation"></button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-toggleable-md" id="navbar-responsive">
    <%= link_to 'Assessment App', root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <li class="nav-item"><%= link_to "About Us",  about_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Reports",   year_assessment_types_path(current_year), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Plans",     year_assessment_types_path(current_year), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Calendar",  calendar_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Wiki",      wiki_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "FAQs",      faqs_path, class: 'nav-link' %></li>
      <li class="nav-item"><% if user_signed_in?%>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-links'  %>
      <% end %></li>
      
    </ul>

  </div><!-- /.navbar-collapse -->
  
</nav>
  