<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer-wrapper">
      <%= render 'layouts/top_nav' %>
      <%= render 'layouts/jumbo_box' %>
      <%= render 'layouts/menu' %>
      <div class="inner-wrapper">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
