<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer-wrapper">
      <% if !@no_layout %>
        <%= render 'layouts/unm_nav' %>
        <%= render 'layouts/jumbo_box' %>
        <%= render 'layouts/menu' %>
      <% end %>
      <div class="inner-wrapper">
        <% if @page_header.present? %>
        <%= render 'layouts/header' %>
        <% end %>
        <%= yield %>
      </div>
      <% if !@no_layout %>
      <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
